

.forecast-quantity-input {
    padding: 10px 4px;
    border: none !important;
    border-bottom: 1px solid black !important;
}

.mat-mdc-form-field-bottom-align::before{
    display: none;
}

.product-img-forecast-page {
    max-width: 100%;
    height: 296px;
}